# Віртуальне середовище
venv/
.env

# Python кеш
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.pyc

# IDE/редактори
.vscode/
.idea/

# Логи
*.log

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Бази даних
*.sqlite3
*.db

# Node (якщо є frontend або server.js)
node_modules/

# Секрети
*.env
*.key
*.crt
*.pem
