.home {
  background: url("../../assets/heroScreen.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.events {
  background: linear-gradient(180deg, #07070b 0%, #122d3a 50%);
}
