.home {
  background: url("../../assets/homePage1.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.events {
  background: linear-gradient(180deg, #07070b 0%, #122d3a 100%);
}
